.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 400px;
  margin-top: 20%;
}

.info-text {
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
  max-width: 25%;
  color: white;
}

.info-text h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 60px;
}
.info-text p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
}
